{% extends "base1.html" %}

{% block pageheading %}
Delete {{maori[0][1]}}
{% endblock %}
{% block heading %} - Delete {{maori[0][1]}}{% endblock %}
{% block main %}
Delete Word


<form class="dataForm" method="post">
    <div class="form-group">
        <label>Are you sure you would like to delete the word {{maori[0][1]}}?</label>
        <div>
                <div></div>
                <div><input class="button" name="submit" type="submit" value="DELETE NAME (!!CANNOT BE UNDONE!!)"></div>
        </div>
        <div>
                <div></div>

        </div>
    </div>


</form>

{% endblock %}