{% extends 'base1.html' %}

{% block title %}{{ maori[0][1] }}{% endblock %}



{% block main %}

           {% for product in maori%}
                <h1>{{ product[1] }}</h1>
                <p><strong>English: </strong>{{ product[2] }}</p>
                <p><strong>Category: </strong>{{ product[4] }}</p>
                <p><strong>Definition: </strong>{{ product[5] }}</p>
                <p><strong>Level: </strong>{{ product[6] }}</p>
                <p><strong>image: </strong>{{ product[7] }}</p>
                <img src="/static/images/{{ product[7] }}">
            {% if logged_in %}

			<a href="/deleteword/{{ product[0] }}">Delete {{maori[0][1]}} </a><li>

			{%endif%}
                {%endfor%}

{% endblock %}